<html>

<head>
    <title>Confirme sua conta!</title>
</head>

<body>
    <table border="0" cellspacing="0" cellpadding="0" align="center" width="600" style="width: 600; text-align: center">
        <tr>
            <td align="center">
                <h1>Aiooo <%= nome %> </h1>
                <p>Bem vindo aebac-crypto-trade, para comfirmar seu cadastro clique no botão abaixo:</p>

                <a href="<%= linkDeConfirmacao %>" target="_blank">Clique aqui para confirmar sua conta</a>
            </td>
        </tr>
    </table>

</body>

</html>